*{margin: 0; padding: 0}

body{
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.img-container img{

    margin-top: 5vh;

}
.card-container{
    background-image: url("../img/background-tech.jpg");
   
    height: 100%;
    width: 50vh ;
    height: 100vh;
    margin: 0 auto;

}

.main-section{
    background: linear-gradient(to bottom, #27418C, #2168A6, #43AED9, #2BC7D9, #30BFBF);
    height: 50vh;
}

.secondary-section{
    margin-top: -30px;
    background: linear-gradient(to bottom, #30BFBF, #5cc4c4, #9acece, #d9f5f8, #e3ebeb);
    height: 50vh;
}

.card-content{

    margin: 0 auto;
    text-align: center;
    
}
.main-info{
    margin-top: 5vh;
}

.main-info{
    color:white; 
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.links div{
    background-color: white;
    margin: 3vh;
    border-radius: 5%;
}
.about-link{
    color:#0063f7ec; 
    font-size: 150%;
    position: relative;

    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


