*{
    margin: 0; padding: 0;
}

body{
    background: radial-gradient(#4023be, #9ca2eb, #5461ec);   

}
.card-container{
    background: radial-gradient(#e6e4f0, #e7e9fd, #f8f8fa);   
     width: 400PX;
    height: 600px;    
    margin: 0 auto;
    border-radius: 40px;
    margin-top: 20px;
}

.img-container{

}

.img-container img{ 
    margin-left: 6%;
    margin-top: 15%;
}

.main-info{
    margin-top: 5%;
}

#name{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    text-align: center;
}

#profession{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 5%;
    font-size: 120%;
}


.links div {
    float: left;

    margin-left: 38px;
    margin-top: 40px;
}


