* {
    margin: 0;
    padding: 0;
}


body {
    /*background: radial-gradient(#4023be, #9ca2eb, #5461ec);   */
    background-image: url(../img/napo-feliz.jpg);

}
.circle-container{
    border-radius: 40px;
}
.decoration-circle{
    position: absolute;
    left: 110px;
    top: 30px;
    width: 350px;
    height: 295px;  
    background-color: red;
    border-radius: 80%;
    outline: 4px solid black;
}
.card-container {
    background-color:rgb(243, 238, 255) ;
    width: 400PX;
    height: 600px;
    margin: 0 auto;
    border-radius: 40px;
    margin-top: 20px;
}

.img-container {
    position: relative;
    width: 300px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 13%;
    top: 30px
}

.img-container img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the image fills the circle */
}

.main-info {
    margin-top: 20%;
}

#name {
    font-family: "Nanum-Gothic", sans-serif;
    color: black;
    text-align: center;

}

#profession {
    font-family: "Nanum-Gothic", sans-serif;
    color: black;
    text-align: center;
    margin-top: 5%;
    font-size: 120%;
}


.links div {
    float: left;
    margin-left: 38px;
    margin-top: 40px;
}


#link-location,
#link-whatsapp,
#link-facebook,
#link-instagram {
    background-color: white;
    border-radius: 40px;
}